{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "no-plusplus": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
  },
  "env": {
    "browser": true,
    "node": true
  },
}
