@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e2b3d;
  font-size: 16px;
  color:#dedce6;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2f2c3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url('http://blueapp.ovh/fit-calendar/views/assets/background.png') bottom center no-repeat;
}

.welcome-container {
  background-color:#0000005e;
  padding:50px;
  border-radius: 20px;
}

.footer {
  position:absolute;
  bottom:10px;
  font-size: 10px;
  left:40%;
  right:40%;
}

.App-link {
  color: #61dafb;
}

.small {
  font-size:10px;
}

.navbar {
  background-color:#1f1c2f;
  color: white;
  min-height: 5vh;
  font-size: 14px;
}

.nav-item img {
  margin: 5px;
  width: 20px;
  height: 20px;
}

#red-toast {
  background-color: #1b1927;
  z-index: 999;
  position: absolute;
  color: white;
  border: 1px solid black;
  top: 30%;
  left: 30%;
  padding: 20px;
  animation: show 0.5s;
  font-size: 22px;
  border-radius: 10px;
  width:500px;
}

#red-toast #red-toast-close {
  position: absolute;
  top: -6px;
  right: 1px;
  border: 0;
  background: none;
  color: white;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.logo-welcome-page {
  width: 90px;
  height: 90px;
}

.alert {
  color: rgb(255, 154, 154);
}

.input-number{
  width:80px;
}

.margin1 {
  margin:1px;
}