@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #2e2b3d !important;
  font-size: 16px !important;
  color: #dedce6 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2f2c3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome-container {
  background-color: #0000005e;
  padding: 50px;
  border-radius: 20px;
}

.footer {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  left: 40%;
  right: 40%;
}

.App-link {
  color: #61dafb;
}

.small {
  font-size: 10px;
}

.navbar {
  background-color: #1f1c2f;
  color: white;
  min-height: 5vh;
  font-size: 14px;
}

.nav-item img {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.padding10 {
  padding: 10px;
}

.modal {
  padding-top: 10%;
}

.close {
  color: #fff;
  text-shadow: none;
  margin-right: 8px;
}

.close:hover {
  color: rgb(194, 194, 194);
}

.modal-dialog {
  background-color: transparent;
  border: none;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header{
  border-bottom: none !important;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.logo-welcome-page {
  width: 90px;
  height: 90px;
}

.alert {
  color: rgb(255, 154, 154);
}

.input-number {
  width: 80px;
}

.margin1 {
  margin: 1px;
}

.colorTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colorTag--color {
  position: relative;
  display: block;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.colorTag--borderder {
  border: 1px solid #fff;
}

.colorTag--color:hover {
  border: 1px solid #fff;
}

.marginFormTopBottom {
  padding: 10px 0 10px 0;
}

#defaultColor {
  background-color: #de49ba;
  height: 20px;
  width: 20px;
}

#orangeColor {
  background-color: #b8822a;
  height: 20px;
  width: 20px;
}

#blueColor {
  background-color: #615edd;
  height: 20px;
  width: 20px;
}

#type {
  display: flex;
  width: 240px;
  margin: auto;
  text-align: center;
}

// @media only screen and (max-width: 1000px) {
//   .modal {
//     padding-top: 0;
//   }

//   .modal-dialog {
//     max-width: 100%;
//     margin: 0;
//   }

//   .modal-body {
//     padding: 0;
//   }

//   #red-toast {
//     padding-top: 20%;
//     position: fixed;
//     display: block;
//     width: 100%;
//     height: 100%;
//     border-radius: 0;
//   }

//   .close {
//     top: 5px;
//     right: 5px;
//     position: absolute;
//     font-size: 40px;
//   }
// }
