.statistic-bar-conteiner {
    font-size: 14px;
    width:300px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: #1d1b29;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.statistic-bar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistic-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statistic-bar-elem {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.statistic-bar-elem:nth-child(1)   {
    font-weight: bold;
    font-size: 14px;
}