#card .center {
    display: flex;
    justify-content: center;
}

#card .center .statistic-bar-conteiner {
    font-size: 14px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: #1d1b29;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#card .center .statistic-bar-conteiner .statistic-bar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#card .center .statistic-bar-conteiner .statistic-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#card .center .statistic-bar-conteiner .statistic-bar-title .statistic-bar-elem,
#card .center .statistic-bar-conteiner .statistic-bar-content .statistic-bar-elem {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#card .center .statistic-bar-conteiner .statistic-bar-title .statistic-bar-elem:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}

#card .center .statistic-bar-conteiner .statistic-bar-content .statistic-bar-elem:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}