#card .center {
    display: flex;
    justify-content: center;
}

#card .center .statistic-bar-conteiner {
    font-size: 14px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: #1d1b29;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#card .center .statistic-bar-conteiner .statistic-bar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#card .center .statistic-bar-conteiner .statistic-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card .center .statistic-bar-conteiner .statistic-bar-title .statistic-bar-elem {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: start;
    text-align: center;
}

#card .center .statistic-bar-conteiner .statistic-bar-content .statistic-bar-elem {
    min-width: 98px;
    max-width: 98px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: start;
    text-align: center;
}

#card .center .statistic-bar-conteiner .statistic-bar-title .statistic-bar-elem div span:nth-child(2),
#card .center .statistic-bar-conteiner .statistic-bar-content .statistic-bar-elem div span:nth-child(2) {
    display: block;
    font-size: 10px;
}

#card .center .statistic-bar-conteiner .statistic-bar-title .statistic-bar-elem:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}

#card .center .statistic-bar-conteiner .statistic-bar-content .statistic-bar-elem:nth-child(1) {
    font-weight: bold;
    font-size: 14px;
}

@media only screen and (max-width: 1305px) {
    #card .center .statistic-bar-conteiner {
        width: 95%;
    }
}