.traning-table-content {
    width: 950px;
    height: 450px;
    padding: 2rem 0;
    margin: 0 auto;
}

.calendar-year {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-year button:nth-child(1) {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    transform: rotate(180deg);
    color: rgb(226, 226, 226);
}

.calendar-year h2 {
    margin-top: 5px;
    color: rgb(226, 226, 226);
}

.calendar-year button:nth-child(3) {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    margin-bottom: 2px;
    color: rgb(226, 226, 226);
}

.rect-workout {
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto, sans-serif';
    font-size: 8px;
}

.rect-active-today {
    background-color: #de49ba;
    border-bottom: 5px solid #c0993e;
}

.rect-active {
    background-color: #de49ba;
}

.rect-standard {
    background-color: #6e2364;
    cursor: pointer;
    color: #7c838c;
    font-family: 'Roboto, sans-serif';
    font-size: 8px;
    padding: 0px 0px 7px 7px;
}

.rect-today {
   border-bottom: 5px solid #c0993e;
}

rect:hover:after {
    z-index: 999;
    content: attr(comment);
    position: absolute;
    width: 150px;
    margin: 20px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid black;
    background: white;
    color: black;
}

.m0 rect,
.m1 rect,
.m2 rect,
.m3 rect,
.m4 rect,
.m5 rect,
.m6 rect,
.m7 rect,
.m8 rect,
.m9 rect,
.m10 rect,
.m11 rect,
.m12 rect {
    font-family: 'Roboto', sans-serif;
    height: 21px;
    width: 21px;
    margin: 4px;
    float: left;
}

.m1 rect:hover,
.m2 rect:hover,
.m4 rect:hover,
.m3 rect:hover,
.m5 rect:hover,
.m6 rect:hover,
.m7 rect:hover,
.m8 rect:hover,
.m9 rect:hover,
.m10 rect:hover,
.m11 rect:hover,
.m12 rect:hover {
    background-color: #4e4c5d;
}

@media only screen and (max-width: 1000px) {

    .m1 rect,
    .m2 rect,
    .m3 rect,
    .m4 rect,
    .m5 rect,
    .m6 rect,
    .m7 rect,
    .m8 rect,
    .m9 rect,
    .m10 rect,
    .m11 rect,
    .m12 rect {
        display: none;

    }

    .traning-table-content {
        height: 10px;    
    }

    .m1:after {
        content: "Use the non-mobile browser to show the calendar!";  
    }
}

.m0,
.m1,
.m2,
.m3,
.m4,
.m5,
.m6,
.m7,
.m8,
.m9,
.m10,
.m11,
.m12 {
    margin: 3px;
    display: table;
    position: relative;
}

#table-statistics {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1b29;
    color: #a4a2af;
}

.center {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.statistic-bar-conteiner {
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    background-color: #1d1b29;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.statistic-bar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistic-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statistic-bar-elem {
    display: flex;
    flex-direction: column;
    padding: 5px;
}