.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    width: 355px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 950px;
}

.traning-table-content {
    width: 950px;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.margin-top5 {
    margin-top: 5px;
}

#statistics {
    margin-top: 20px;
    margin-bottom: 20px;
}

#today {
    margin-top: 20px;
}

.background-description {
    background-color: #2c293f;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}

.calendar-year {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-year button:nth-child(1) {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    transform: rotate(180deg);
    color: rgb(226, 226, 226);
}

.calendar-year h2 {
    margin-top: 5px;
    color: rgb(226, 226, 226);
}

.calendar-year button:nth-child(3) {
    border: none;
    background-color: transparent;
    font-size: 2vh;
    margin-bottom: 2px;
    color: rgb(226, 226, 226);
}

.react-absence {
    cursor: pointer;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    background-color: #b82a2a;
}

.rect-workout {
    cursor: pointer;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
}

.rect-active-today {
    border-bottom: 5px solid #c0993e;
}

.defaultColor {
    background-color: #de49ba;
}

.orangeColor {
    background-color: #b8822a;
}

.blueColor {
    background-color: #615edd;
}

.standardColor {
    background-color: #6e2364;
}

.rect-standard {
    cursor: pointer;
    color: #7c838c;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    padding: 0px 0px 7px 7px;
}

.rect-today {
    color: #fff;
    border-bottom: 5px solid #c0993e;
}

rect:hover:after {
    z-index: 999;
    content: attr(comment);
    position: absolute;
    width: 150px;
    margin: 20px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid black;
    background: white;
    color: black;
}

.m0 rect,
.m1 rect,
.m2 rect,
.m3 rect,
.m4 rect,
.m5 rect,
.m6 rect,
.m7 rect,
.m8 rect,
.m9 rect,
.m10 rect,
.m11 rect,
.m12 rect {
    font-family: 'Open Sans', sans-serif;
    height: 21px;
    width: 21px;
    margin: 4px;
    float: left;
}

.m1 rect:hover,
.m2 rect:hover,
.m4 rect:hover,
.m3 rect:hover,
.m5 rect:hover,
.m6 rect:hover,
.m7 rect:hover,
.m8 rect:hover,
.m9 rect:hover,
.m10 rect:hover,
.m11 rect:hover,
.m12 rect:hover {
    background-color: #4e4c5d;
}

@media only screen and (max-width: 1000px) {
    .content-container {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .statistic-bar-conteiner {
        width: 100%;
    }

    #today {
        width: 100%;
    }

    .training-table-content {
        width: 90%;
    }

    #statistics {
        flex-direction: row;
        justify-content: center;
    }

    #calendar {
        display: none;
    }

    .right {
        display: none;
    }
}

.m0,
.m1,
.m2,
.m3,
.m4,
.m5,
.m6,
.m7,
.m8,
.m9,
.m10,
.m11,
.m12 {
    margin: 3px;
    display: table;
    position: relative;
}

#table-statistics {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1b29;
    color: #a4a2af;
}